In [6]:
import pandas as pd

file = pd.read_csv('/Users/karina/GitHub/NYC_midterm_project/data/evaluation_data/dbscan_v2_clusters.csv')
file.head()

,Unnamed: 0,borough,neighborhood,longitude,latitude,population,PC1,PC2,PC3,PC4,PC5,cluster
0,0,Bronx,Wakefield,-73.847201,40.894705,21242.0,-0.350819,0.709996,-0.264307,-0.381811,0.446031,0
1,1,Bronx,Co-op City,-73.829939,40.874294,43752.0,-0.563931,0.427026,-0.118312,0.027584,0.339493,0
2,2,Bronx,Eastchester,-73.827806,40.887556,11506.0,-0.587661,0.325325,-0.084414,-0.237159,0.235757,0
3,3,Bronx,Fieldston,-73.905643,40.895437,9287.0,-0.582338,-0.307512,0.180171,-0.151716,-0.251314,0
4,4,Bronx,Riverdale,-73.912585,40.890834,9287.0,-0.560793,-0.137340,0.410400,0.043671,-0.371353,0

In [7]:
file = file[['neighborhood', 'cluster']]
file.columns = ['neighborhood', 'cluster_id']
file.head()

  neighborhood  cluster_id
0    Wakefield           0
1   Co-op City           0
2  Eastchester           0
3    Fieldston           0
4    Riverdale           0

In [8]:
save = file.to_csv('submisson.csv')