In [953]:
import pandas as pd
from pandas.io.json import json_normalize
import requests as re
import os

In [954]:
foursquare_secret = os.environ['FOURSQUARE_API_KEY']
API_KEY = os.environ["YELP_API_KEY"]

In [955]:
main_dataset = pd.read_csv('main_dataset.csv')

In [956]:
bronx_neighborhoods = main_dataset[['borough', 'neighborhood']][main_dataset['borough']=='Bronx']
bronx_neighborhoods_lst = bronx_neighborhoods.neighborhood.tolist()
len(bronx_neighborhoods)

52

In [957]:
bronx = pd.DataFrame()

for i in bronx_neighborhoods_lst:
    string = f'{i}, NY'
    url = "http://api.foursquare.com/v3/places/search"
    headers = {'Accept': 'application/json'}
    headers['Authorization']= foursquare_secret
    rest_parameters = {
        'near': string,
        'sort': 'POPULARITY',
        'limit': '50'
    }

    response = re.get(url, params=rest_parameters, headers = headers)
    response = response.json()
    venues = pd.json_normalize(response, record_path=['results'])

    bronx = pd.concat([bronx, venues])

In [958]:
bronx = bronx[['location.neighborhood', 'location.locality', 'categories']]
bronx = bronx.dropna()
bronx = bronx[bronx["categories"].str.len() != 0]
bronx.head()

,location.neighborhood,location.locality,categories
0,[Wakefield],Bronx,"[{'id': 13001, 'name': 'Bagel Shop', 'icon': {..."
1,[Williamsbridge],Bronx,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre..."
2,[Wakefield],Bronx,"[{'id': 13145, 'name': 'Fast Food Restaurant',..."
3,[Wakefield],Bronx,"[{'id': 13009, 'name': 'Cocktail Bar', 'icon':..."
4,[Williambridge],Bronx,"[{'id': 17035, 'name': 'Drugstore', 'icon': {'..."

In [959]:
bronx_names = bronx['location.neighborhood'].tolist()
bronx_cat = bronx['categories'].tolist()

In [960]:
bronx_names2 = []
for i in bronx_names:
   bronx_names2.append(i[0].strip())

bronx_cat2 = []
for i in bronx_cat:
    bronx_cat2.append(i[0]['name'])

In [961]:
bronx_df = pd.DataFrame()
bronx_df['neighborhood'] = bronx_names2
bronx_df['categories'] = bronx_cat2

In [962]:
bronx_df['neighborhood'] = bronx_df['neighborhood'].str.replace('Coop City', 'Co-op City')
bronx_df['neighborhood'] = bronx_df['neighborhood'].str.replace('Co-Op City', 'Co-op City')
bronx_df.head()

     neighborhood            categories
0       Wakefield            Bagel Shop
1  Williamsbridge                Bakery
2       Wakefield  Fast Food Restaurant
3       Wakefield          Cocktail Bar
4   Williambridge             Drugstore

In [963]:
manhattan_neighborhoods = main_dataset[['borough', 'neighborhood']][main_dataset['borough']=='Manhattan']
manhattan_neighborhoods_lst = manhattan_neighborhoods.neighborhood.tolist()
len(manhattan_neighborhoods)

40

In [964]:
manhattan = pd.DataFrame()

for i in manhattan_neighborhoods_lst:
    string = f'{i}, NY'
    url = "http://api.foursquare.com/v3/places/search"
    headers = {'Accept': 'application/json'}
    headers['Authorization']= foursquare_secret
    rest_parameters = {
        'near': string,
        'sort': 'POPULARITY',
        'limit': '50'
    }

    response = re.get(url, params=rest_parameters, headers = headers)
    response = response.json()
    venues = pd.json_normalize(response, record_path=['results'])

    manhattan = pd.concat([manhattan, venues])

In [965]:
manhattan = manhattan[['location.neighborhood', 'categories']]
manhattan = manhattan.dropna()
manhattan = manhattan[manhattan["categories"].str.len() != 0]
manhattan.head()

  location.neighborhood                                         categories
1      [Spuyten Duyvil]  [{'id': 17033, 'name': 'Department Store', 'ic...
2         [Marble Hill]  [{'id': 11037, 'name': 'Equipment Rental Servi...
3         [Marble Hill]  [{'id': 13068, 'name': 'American Restaurant', ...
4         [Marble Hill]  [{'id': 13064, 'name': 'Pizzeria', 'icon': {'p...
5        [Kings Bridge]  [{'id': 11071, 'name': 'Nail Salon', 'icon': {...

In [966]:
manhattan_names = manhattan['location.neighborhood'].tolist()
manhattan_cat = manhattan['categories'].tolist()

manhattan_names2 = []
for i in manhattan_names:
   manhattan_names2.append(i[0].strip())

manhattan_cat2 = []
for i in manhattan_cat:
    manhattan_cat2.append(i[0]['name'])

In [967]:
manhattan_df = pd.DataFrame()
manhattan_df['neighborhood'] = manhattan_names2
manhattan_df['categories'] = manhattan_cat2
manhattan_df.head()

     neighborhood                categories
0  Spuyten Duyvil          Department Store
1     Marble Hill  Equipment Rental Service
2     Marble Hill       American Restaurant
3     Marble Hill                  Pizzeria
4    Kings Bridge                Nail Salon

In [968]:
manhattan_df = manhattan_df.replace('Murray Hill', 'Murray_Hill_M')
manhattan_df = manhattan_df.replace('Chelsea', 'Chelsea_M')

In [969]:
brooklyn_neighborhoods = main_dataset[['borough', 'neighborhood']][main_dataset['borough']=='Brooklyn']
brooklyn_neighborhoods_lst = brooklyn_neighborhoods.neighborhood.tolist()

In [970]:
brooklyn = pd.DataFrame()

for i in brooklyn_neighborhoods_lst:
    string = f'{i}, NY'
    url = "http://api.foursquare.com/v3/places/search"
    headers = {'Accept': 'application/json'}
    headers['Authorization']= foursquare_secret
    rest_parameters = {
        'near': string,
        'sort': 'POPULARITY',
        'limit': '50'
    }

    response = re.get(url, params=rest_parameters, headers = headers)
    response = response.json()
    venues = pd.json_normalize(response, record_path=['results'])

    brooklyn = pd.concat([brooklyn, venues])

In [971]:
brooklyn = brooklyn[['location.neighborhood', 'categories']]
brooklyn = brooklyn.dropna()
brooklyn = brooklyn[brooklyn["categories"].str.len() != 0]
brooklyn.head()

  location.neighborhood                                         categories
0            [Bayridge]  [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
1            [Bayridge]  [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
2            [Bayridge]  [{'id': 17035, 'name': 'Drugstore', 'icon': {'...
3            [Bayridge]  [{'id': 13379, 'name': 'Vietnamese Restaurant'...
4       [Fort Hamilton]  [{'id': 17069, 'name': 'Grocery Store / Superm...

In [972]:
brooklyn_names = brooklyn['location.neighborhood'].tolist()
brooklyn_cat = brooklyn['categories'].tolist()

brooklyn_names2 = []
for i in brooklyn_names:
   brooklyn_names2.append(i[0].strip())

brooklyn_cat2 = []
for i in brooklyn_cat:
    brooklyn_cat2.append(i[0]['name'])

In [973]:
brooklyn_df = pd.DataFrame()
brooklyn_df['neighborhood'] = manhattan_names2
brooklyn_df['categories'] = manhattan_cat2
brooklyn_df.head()

     neighborhood                categories
0  Spuyten Duyvil          Department Store
1     Marble Hill  Equipment Rental Service
2     Marble Hill       American Restaurant
3     Marble Hill                  Pizzeria
4    Kings Bridge                Nail Salon

In [974]:
queens_neighborhoods = main_dataset[['borough', 'neighborhood']][main_dataset['borough']=='Queens']
queens_neighborhoods_lst = queens_neighborhoods.neighborhood.tolist()

In [975]:
queens = pd.DataFrame()

for i in queens_neighborhoods_lst:
    string = f'{i}, NY'
    url = "http://api.foursquare.com/v3/places/search"
    headers = {'Accept': 'application/json'}
    headers['Authorization']= foursquare_secret
    rest_parameters = {
        'near': string,
        'sort': 'POPULARITY',
        'limit': '50'
    }

    response = re.get(url, params=rest_parameters, headers = headers)
    response = response.json()
    venues = pd.json_normalize(response, record_path=['results'])

    queens = pd.concat([queens, venues])

In [976]:
queens = queens[['location.neighborhood', 'categories']]
queens = queens.dropna()
queens = queens[queens["categories"].str.len() != 0]
queens.head()

  location.neighborhood                                         categories
0           [East Side]  [{'id': 17035, 'name': 'Drugstore', 'icon': {'...
1           [East Side]  [{'id': 10027, 'name': 'Museum', 'icon': {'pre...
2           [East Side]  [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
3           [East Side]  [{'id': 13065, 'name': 'Restaurant', 'icon': {...
4           [East Side]  [{'id': 16037, 'name': 'Playground', 'icon': {...

In [977]:
queens_names = queens['location.neighborhood'].tolist()
queens_cat = queens['categories'].tolist()

queens_names2 = []
for i in queens_names:
   queens_names2.append(i[0].strip())

queens_cat2 = []
for i in queens_cat:
    queens_cat2.append(i[0]['name'])

In [978]:
queens_df = pd.DataFrame()
queens_df['neighborhood'] = queens_names2
queens_df['categories'] = queens_cat2
queens_df.head()

  neighborhood  categories
0    East Side   Drugstore
1    East Side      Museum
2    East Side        Park
3    East Side  Restaurant
4    East Side  Playground

In [979]:
queens_df = queens_df.replace('Bay Terrace', 'Bay_Terrace_Q')
queens_df = queens_df.replace('Sunnyside', 'Sunnyside_Q')
queens_df = queens_df.replace('Murray Hill', 'Murray_Hill_Q')

In [980]:
staten_neighborhoods = main_dataset[['borough', 'neighborhood']][main_dataset['borough']=='Staten Island']
staten_neighborhoods_lst = staten_neighborhoods.neighborhood.tolist()

In [981]:
staten = pd.DataFrame()

for i in staten_neighborhoods_lst:
    string = f'{i}, NY'
    url = "http://api.foursquare.com/v3/places/search"
    headers = {'Accept': 'application/json'}
    headers['Authorization']= foursquare_secret
    rest_parameters = {
        'near': string,
        'sort': 'POPULARITY',
        'limit': '50'
    }

    response = re.get(url, params=rest_parameters, headers = headers)
    response = response.json()
    venues = pd.json_normalize(response, record_path=['results'])

    staten = pd.concat([staten, venues])

In [982]:
staten = staten[['location.neighborhood', 'categories']]
staten = staten.dropna()
staten = staten[staten["categories"].str.len() != 0]
staten.head()

  location.neighborhood                                         categories
0             [Chelsea]  [{'id': 10039, 'name': 'Music Venue', 'icon': ...
1             [Chelsea]  [{'id': 16040, 'name': 'Pedestrian Plaza', 'ic...
2             [Chelsea]  [{'id': 16045, 'name': 'Roof Deck', 'icon': {'...
3             [Chelsea]  [{'id': 17069, 'name': 'Grocery Store / Superm...
4             [Chelsea]  [{'id': 10039, 'name': 'Music Venue', 'icon': ...

In [983]:
staten_names = staten['location.neighborhood'].tolist()
staten_cat = staten['categories'].tolist()

staten_names2 = []
for i in staten_names:
   staten_names2.append(i[0].strip())

staten_cat2 = []
for i in staten_cat:
   staten_cat2.append(i[0]['name'])

In [984]:
staten_df = pd.DataFrame()
staten_df['neighborhood'] = staten_names2
staten_df['categories'] = staten_cat2
staten_df.head()

  neighborhood                   categories
0      Chelsea                  Music Venue
1      Chelsea             Pedestrian Plaza
2      Chelsea                    Roof Deck
3      Chelsea  Grocery Store / Supermarket
4      Chelsea                  Music Venue

In [985]:
staten_df = staten_df.replace('Chelsea', 'Chelsea_SI')
staten_df = staten_df.replace('Bay Terrace', 'Bay_Terrace_SI')
staten_df = staten_df.replace('Sunnyside', 'Sunnyside_SI')

In [986]:
staten_df.neighborhood.unique()

array(['Chelsea_SI', 'Garment District', 'Port Johnson', 'Fox Hills',
       'Castleton Corners', 'Stapleton', 'Concord', 'Bay_Terrace_SI',
       'Fort Totten', 'Howland Hook', 'Brighton Heights', 'St. George',
       'Richmond', 'New Brighton', 'Rosebank', 'Park Hill', 'Shore Acres',
       'West New Brighton', 'Westerleigh', 'Randall Manor',
       'Port Richmond', 'Castleton Corner', 'Silver Lake', 'Grymes Hill',
       'Dongan Hills', 'Todt Hill', 'Grant City', 'Arrochar',
       'Fort Wadsworth', 'Old Town Station', 'Arlington',
       'Mariners Harbor', 'North Elizabeth', 'Port Ivory',
       'Mravlag Manor', 'New Springville', 'Chrome', 'New Dorp',
       'New Dorp Beach', 'Great Kills', 'Lighthouse Hill', 'Greenridge',
       'Annadale', 'Eltingville', 'Arden Heights', 'Huguenot', 'Woodrow',
       'Pleasant Plains', 'Harbor Terrace', 'Richmond Valley',
       'Tottenville', 'Point Breeze', 'Tottenville Beach', 'Ward Hill',
       'Fildston', 'Meiers Corners', 'Graniteville', 'Arlington District',
       'College Hill', 'Fairview', 'Riverside', 'Grand City',
       'Midland Beach', 'Miller Field', 'Princes Bay', 'Butler Manor',
       'East Side', 'City Hall', 'Battery Park City', 'Downtown',
       'Brooklyn Heights', 'Carnegie Hill', "Hell's Kitchen", 'Flatiron',
       'Upper West Side', 'Lenox Hill', 'Lincoln Square', 'East Village',
       'Uptown', 'Midtown', 'Meatpac', 'Fort George', 'Inwood',
       'Civic Center', 'Harlem', 'Hunters Point', 'Charleston',
       'Rossville', 'Aspen Knolls', 'Bulls Head', 'Willowbrook',
       'Richmond Town', 'Hadley Bay', 'West Chili', 'New Point Road',
       'Liberty Square', "Bull's Head", "Prince's Bay", 'Egbertville'],
      dtype=object)

In [987]:
venues_data = pd.concat([bronx_df, manhattan_df, queens_df, brooklyn_df, staten_df])

In [988]:
venues_data.shape

(11086, 2)

In [989]:
onehot = pd.get_dummies(venues_data[['categories']], prefix='', prefix_sep='')
venues_data = venues_data.join(onehot)

In [990]:
venues_data

,neighborhood,categories,ATM,Accounting and Bookkeeping Service,Addiction Treatment Center,Advertising Agency,Afghan Restaurant,African Restaurant,Agriculture and Forestry Service,American Restaurant,...,Water Sports,Website Designer,Welding Service,Whisky Bar,Wine Bar,Wine Store,Wings Joint,Women's Store,Youth Organization,Zoo
0,Wakefield,Bagel Shop,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,Bagel Shop,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,Bagel Shop,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,Bagel Shop,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,Bagel Shop,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3154,Long Island City,Print Store,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3155,Long Island City,Housing Authority,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3156,Long Island City,Housing Authority,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3157,Queensbridge,Child Care Service,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3158,Queensbridge,Construction,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [991]:
venues_data_one_hot = venues_data.copy()
venues_data_one_hot.drop('categories', axis=1)

,neighborhood,ATM,Accounting and Bookkeeping Service,Addiction Treatment Center,Advertising Agency,Afghan Restaurant,African Restaurant,Agriculture and Forestry Service,American Restaurant,Amusement Park,...,Water Sports,Website Designer,Welding Service,Whisky Bar,Wine Bar,Wine Store,Wings Joint,Women's Store,Youth Organization,Zoo
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3154,Long Island City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3155,Long Island City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3156,Long Island City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3157,Queensbridge,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3158,Queensbridge,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [992]:
venues_data_one_hot = venues_data_one_hot.groupby('neighborhood').sum()
venues_data_one_hot

,ATM,Accounting and Bookkeeping Service,Addiction Treatment Center,Advertising Agency,Afghan Restaurant,African Restaurant,Agriculture and Forestry Service,American Restaurant,Amusement Park,Antique Store,...,Water Sports,Website Designer,Welding Service,Whisky Bar,Wine Bar,Wine Store,Wings Joint,Women's Store,Youth Organization,Zoo
neighborhood,,,,,,,,,,,,,,,,,,,,,
Allerton,1,2,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
Alphabet City,0,0,0,0,0,2,0,4,0,0,...,0,0,0,0,4,0,0,0,0,0
Annadale,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
Arden Heights,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arlington,0,1,0,0,0,0,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Williamsbridge,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Willowbrook,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Woodhaven,0,1,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
Woodrow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Woodside,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0

In [993]:
most_common_venue = pd.DataFrame(venues_data_one_hot.idxmax(axis=1)).reset_index()
most_common_venue.columns = ['neighborhood', 'most_common_venue']

In [994]:
most_common_venue

       neighborhood           most_common_venue
0          Allerton                        Park
1     Alphabet City                Cocktail Bar
2          Annadale                    Pizzeria
3     Arden Heights                 Coffee Shop
4         Arlington                  Playground
..              ...                         ...
310  Williamsbridge                  Restaurant
311     Willowbrook  Property Management Office
312       Woodhaven                    Pizzeria
313         Woodrow                      Museum
314        Woodside        Fast Food Restaurant

[315 rows x 2 columns]

In [1007]:
main_dataset = main_dataset.iloc[:, 1:]
main_dataset.iloc[115, 1] = 'Murray_Hill_M'
main_dataset.iloc[116, 1] = 'Murray_Hill_Q'
main_dataset.iloc[117, 1] = 'Chelsea_M'
main_dataset.iloc[118, 1] = 'Chelsea_Q'
main_dataset.iloc[142, 1] = 'Sunnyside_Q'
main_dataset.iloc[143, 1] = 'Sunnyside_SI'
main_dataset.iloc[178, 1] = 'Bay_Terrace_Q'
main_dataset.iloc[179, 1] = 'Bay_Terrace_SI'

In [1008]:
venue_names = most_common_venue.neighborhood.tolist()
neighborhood_names = main_dataset.neighborhood.tolist()

In [1010]:
main_list = list(set(neighborhood_names) - set(venue_names))
main_list

['Weeksville',
 'Springfield Gardens',
 'Cobble Hill',
 'Hudson Yards',
 'Vinegar Hill',
 'Forest Hills Gardens',
 'Pelham Bay',
 'Flatlands',
 'Clifton',
 'Sutton Place',
 'Yorkville',
 'Sheepshead Bay',
 'Claremont Village',
 'North Side',
 'Bath Beach',
 'Oakwood',
 'Cypress Hills',
 'Pelham Gardens',
 'Ocean Parkway',
 'Heartland Village',
 'East Harlem',
 'Lower East Side',
 'Sunnyside_SI',
 'Belle Harbor',
 'Manhattan Beach',
 'Concourse Village',
 'Clinton Hill',
 'Rockaway Park',
 'Marine Park',
 'Crown Heights',
 'Tudor City',
 'Park Slope',
 'South Beach',
 'North Riverdale',
 'Little Italy',
 'Starrett City',
 'West Brighton',
 'Mill Island',
 'Midwood',
 'Williamsburg',
 'Douglaston',
 'Madison',
 'Bay Ridge',
 'Fulton Ferry',
 'Travis',
 'Fort Greene',
 'Woodlawn',
 'Lindenwood',
 'Midtown South',
 'Wingate',
 'West Village',
 'Edgewater Park',
 'Kensington',
 'Kingsbridge Heights',
 'Bergen Beach',
 'High  Bridge',
 'Sea Gate',
 'Old Town',
 'Remsen Village',
 'New Lots',
 'Tribeca',
 'Gerritsen Beach',
 'Fort Hamilton',
 'Kew Gardens',
 'Jamaica Estates',
 'Sunset Park',
 'Borough Park',
 'Manor Heights',
 'Homecrest',
 'Hunts Point',
 'Greenwich Village',
 'Grasmere',
 'Stuyvesant Town',
 'Red Hook',
 'Soho',
 'Prospect Park South',
 'Erasmus',
 'Mill Basin',
 'Murray_Hill_M',
 'Gowanus',
 'Sandy Ground',
 'Queens Village',
 'East New York',
 'South Side',
 'Emerson Hill',
 'Ocean Hill',
 'Financial District',
 'Bedford Stuyvesant',
 'Chelsea_Q',
 'Bensonhurst',
 'East Williamsburg',
 'Flatbush',
 'Jamaica Center',
 'Paerdegat Basin',
 'Canarsie',
 'Manhattan Terrace',
 'Brighton Beach',
 'Noho',
 'Coney Island',
 'Floral Park',
 'Boerum Hill',
 'Turtle Bay',
 'Prospect Lefferts Gardens',
 'Prospect Heights',
 "Mariner's Harbor",
 'Windsor Terrace',
 'Elm Park',
 'Tompkinsville',
 'Eastchester',
 'Dumbo',
 'Bloomfield',
 'Westchester Square',
 'Ditmas Park',
 'Highland Park',
 'Dyker Heights',
 'Georgetown',
 'Rugby',
 'Brownsville',
 'Gravesend',
 'Carroll Gardens',
 'East Flatbush',
 'Lefrak City']

In [998]:
main_dataset = pd.merge(main_dataset, most_common_venue, on='neighborhood', how='left')

In [999]:
main_dataset

,id,borough,neighborhood,longitude,latitude,population,number_of_restaurants,average_review_count,average_restaurant_rating,average_price_level,most_common_venue
0,nyu_2451_34572.1,Bronx,Wakefield,-73.847201,40.894705,21242.0,13,169,4.0,1,Grocery Store / Supermarket
1,nyu_2451_34572.2,Bronx,Co-op City,-73.829939,40.874294,43752.0,12,771,4.0,2,Bakery
2,nyu_2451_34572.3,Bronx,Eastchester,-73.827806,40.887556,11506.0,19,532,4.1,1,NaN
3,nyu_2451_34572.4,Bronx,Fieldston,-73.905643,40.895437,9287.0,9,297,4.4,1,Bagel Shop
4,nyu_2451_34572.5,Bronx,Riverdale,-73.912585,40.890834,9287.0,14,319,4.0,2,Cocktail Bar
...,...,...,...,...,...,...,...,...,...,...,...
301,nyu_2451_34572.302,Manhattan,Hudson Yards,-74.000111,40.756658,23383.0,20,848,4.3,2,NaN
302,nyu_2451_34572.303,Queens,Hammels,-73.805530,40.587338,12295.0,17,257,4.3,2,Beach
303,nyu_2451_34572.304,Queens,Bayswater,-73.765968,40.611322,25029.0,0,0,0.0,0,Fish Market
304,nyu_2451_34572.305,Queens,Queensbridge,-73.945631,40.756091,6677.0,17,222,4.1,2,Bakery
305,nyu_2451_34572.306,Staten Island,Fox Hills,-74.081740,40.617311,11230.0,5,213,4.3,1,Pizzeria

In [1000]:
# Check for missing data
total = main_dataset.isnull().sum().sort_values(ascending=False)
percent = (main_dataset.isnull().sum()/main_dataset.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                   Total   Percent
most_common_venue    125  0.408497
id                     0  0.000000
borough                0  0.000000
neighborhood           0  0.000000
longitude              0  0.000000

In [1028]:
url = "http://api.foursquare.com/v3/places/search"
headers = {'Accept': 'application/json'}
headers['Authorization']= foursquare_secret
rest_parameters = {
        'near': 'Clifton, NY',
        'sort': 'POPULARITY',
        'limit': '50'
    }

response = re.get(url, params=rest_parameters, headers = headers)
response = response.json()
venues = pd.json_normalize(response, record_path=['results'])

In [1029]:
venues

,fsq_id,categories,chains,distance,link,name,timezone,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,...,location.cross_street,location.dma,location.formatted_address,location.locality,location.postcode,location.region,location.neighborhood,related_places.parent.fsq_id,related_places.parent.name,location.address_extended
0,4bcd8de4937ca593a8deac92,"[{'id': 18018, 'name': 'Golf Course', 'icon': ...",[],1880,/v3/places/4bcd8de4937ca593a8deac92,Mill Creek Golf Club,America/New_York,43.037412,-77.827800,43.037412,...,,"Rochester, Ny","128 Cedars Ave, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
1,4be9d8a662c0c9281428e0d4,"[{'id': 18018, 'name': 'Golf Course', 'icon': ...",[],2077,/v3/places/4be9d8a662c0c9281428e0d4,Cragie Brae Golf Club Pro Shop,America/New_York,43.042327,-77.796395,43.042327,...,,"Rochester, Ny","4391 Union St, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
2,4c38d7771e06d13a3786783e,"[{'id': 13003, 'name': 'Bar', 'icon': {'prefix...",[],2700,/v3/places/4c38d7771e06d13a3786783e,Churchville Moose Club,America/New_York,43.075849,-77.827314,43.075849,...,,"Rochester, Ny","5709 Chili Riga Center Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
3,5de28cfa593a3f00082bd82d,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",[],2999,/v3/places/5de28cfa593a3f00082bd82d,Golden Harvest Bakery & Cafe,America/New_York,43.030881,-77.796089,43.030881,...,,"Rochester, Ny","9048 Union St, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
4,4e3ad032a809ec5544402665,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],2033,/v3/places/4e3ad032a809ec5544402665,Maggie Mud Pond,America/New_York,43.070824,-77.819085,NaN,...,Black Creek Park,"Rochester, Ny","14 Chili Riga Townline Rd (Black Creek Park), ...",Rochester,14624,NY,NaN,NaN,NaN,NaN
5,4bb76e88f562ef3b76633197,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",[],2999,/v3/places/4bb76e88f562ef3b76633197,A Bakery Creation,America/New_York,43.030881,-77.796089,43.030881,...,,"Rochester, Ny","9048 Union St, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
6,5349797f498eecfea795c935,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],3429,/v3/places/5349797f498eecfea795c935,Woodside Lodge,America/New_York,43.080990,-77.801534,43.080990,...,,"Rochester, Ny","Chili Center, NY 14428",Chili Center,14428,NY,[West Chili],4ac7cd9ff964a520dbb920e3,Black Creek Park,NaN
7,f0bbcb2edb0047b9465252df,"[{'id': 11086, 'name': 'General Contractor', '...",[],312,/v3/places/f0bbcb2edb0047b9465252df,Everlasting Property Solutions,NaN,43.051907,-77.814209,43.051907,...,NaN,"Rochester, Ny","102 Wheatland Center Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
8,43208439b9d6409e53f8e3e1,"[{'id': 11006, 'name': 'Audiovisual Service', ...",[],697,/v3/places/43208439b9d6409e53f8e3e1,Jam N Stam Mobile Dj Service,NaN,43.058485,-77.814977,NaN,...,NaN,"Rochester, Ny","976 Morgan Rd, North Chili, NY 14514",North Chili,14514,NY,NaN,NaN,NaN,NaN
9,b3815dcc7e3b4e5025f1f22e,"[{'id': 17069, 'name': 'Grocery Store / Superm...",[],719,/v3/places/b3815dcc7e3b4e5025f1f22e,Luke's Mill Creek Farm - Pickled Garlic Scapes...,NaN,43.057988,-77.813026,43.057988,...,NaN,"Rochester, Ny","949 Morgan Rd, North Chili, NY 14514",North Chili,14514,NY,NaN,NaN,NaN,NaN
10,02b8ba4dfcd0435ebe8e6a6c,[],[],1124,/v3/places/02b8ba4dfcd0435ebe8e6a6c,USA Sliding Doors,NaN,43.044414,-77.826089,43.044414,...,NaN,"Rochester, Ny","801 Hosmer Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
11,cf6e2f7882504b4dd250ab85,"[{'id': 18018, 'name': 'Golf Course', 'icon': ...",[],1410,/v3/places/cf6e2f7882504b4dd250ab85,Mill Creek Golf Course-Par 3,NaN,43.042044,-77.827591,43.042044,...,NaN,"Rochester, Ny","670 Hosmer Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
12,0e960f5a6ee949ed02641fca,"[{'id': 11078, 'name': 'Carpenter', 'icon': {'...",[],1780,/v3/places/0e960f5a6ee949ed02641fca,A-Line,NaN,43.041150,-77.833285,43.041150,...,NaN,"Rochester, Ny","776 Jenkins Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
13,4d2693ee9d5e4b2156556b37,"[{'id': 11116, 'name': 'Logging Service', 'ico...",[],1835,/v3/places/4d2693ee9d5e4b2156556b37,Genesee Valley Timber,NaN,43.036081,-77.817364,NaN,...,NaN,"Rochester, Ny","637 Wheatland Center Rd, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
14,479b93f023f245545fa34f81,"[{'id': 11002, 'name': 'Agriculture and Forest...",[],1842,/v3/places/479b93f023f245545fa34f81,WoodWise Forestry,NaN,43.036018,-77.817494,NaN,...,NaN,"Rochester, Ny","637 Wheatland Center Rd, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
15,a30ae2ff53e247c910917661,[],[],1876,/v3/places/a30ae2ff53e247c910917661,The Tavern Restaurant,NaN,43.037543,-77.828415,NaN,...,NaN,"Rochester, Ny","128 Cedars Ave, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
16,62ed71f8f5a54e88bd0efcb4,"[{'id': 11044, 'name': 'ATM', 'icon': {'prefix...",[],1954,/v3/places/62ed71f8f5a54e88bd0efcb4,ATM,NaN,43.042261,-77.798459,NaN,...,NaN,"Rochester, Ny","4391 Union St, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
17,6a06441dd0c746bebcea3f7c,"[{'id': 18018, 'name': 'Golf Course', 'icon': ...",[],2065,/v3/places/6a06441dd0c746bebcea3f7c,Cragie Brae Realty,NaN,43.042716,-77.796397,NaN,...,NaN,"Rochester, Ny","4391 Union St, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
18,f1d73d794b2f41bc6abcf307,"[{'id': 11077, 'name': 'Bathroom Contractor', ...",[],2174,/v3/places/f1d73d794b2f41bc6abcf307,Old School Tradesmen,NaN,43.070815,-77.827704,43.070815,...,NaN,"Rochester, Ny","168 Betteridge Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
19,7ea6623a11504229bc20f455,"[{'id': 11010, 'name': 'Automotive Repair Shop...",[],2288,/v3/places/7ea6623a11504229bc20f455,Lt Classic Auto Parts,NaN,43.071175,-77.830099,43.071175,...,NaN,"Rochester, Ny","167 Betteridge Rd, Churchville, NY 14428",Churchville,14428,NY,NaN,NaN,NaN,NaN
20,d703491f17af43e9c1b05627,[],[],2614,/v3/places/d703491f17af43e9c1b05627,Paws and Purrs Rescue,NaN,43.029077,-77.817234,43.029077,...,NaN,"Rochester, Ny","931 Wheatland Center Rd, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN
21,2468d6cb26ac48e89cd0ef7b,"[{'id': 11083, 'name': 'Electrician', 'icon': ...",[],3823,/v3/places/2468d6cb26ac48e89cd0ef7b,Premier Alarms & Electric,NaN,43.085770,-77.805444,NaN,...,NaN,"Rochester, Ny","15 Strawflower Ln, North Chili, NY 14514",North Chili,14514,NY,[West Chili],NaN,NaN,Apt G
22,3cc71a3bf8824aa888613351,"[{'id': 17089, 'name': 'Gift Store', 'icon': {...",[],3923,/v3/places/3cc71a3bf8824aa888613351,Tink's Treasures,NaN,43.087620,-77.811852,NaN,...,NaN,"Rochester, Ny","5839 Chili Ave, Churchville, NY 14428",Churchville,14428,NY,[West Chili],NaN,NaN,NaN
23,7496f363f47a461f20230b2b,"[{'id': 13034, 'name': 'Café', 'icon': {'prefi...",[],3959,/v3/places/7496f363f47a461f20230b2b,Bedrock Pub & Cafe,NaN,43.017997,-77.829583,NaN,...,NaN,"Rochester, Ny","2329 North Rd, Scottsville, NY 14546",Scottsville,14546,NY,NaN,NaN,NaN,NaN