In [554]:
import pandas as pd
import numpy as np

In [555]:
population = pd.read_csv('Open_datasets/population.csv')
population.columns = ['borough', 'year', 'FIPS', 'NTA_code', 'neighborhood', 'population']
population.head()

  borough  year  FIPS NTA_code                     neighborhood  population
0   Bronx  2000     5     BX01               Claremont-Bathgate       28149
1   Bronx  2000     5     BX03  Eastchester-Edenwald-Baychester       35422
2   Bronx  2000     5     BX05       Bedford Park-Fordham North       55329
3   Bronx  2000     5     BX06                          Belmont       25967
4   Bronx  2000     5     BX07                        Bronxdale       34309

In [556]:
population = population[population['year'] == 2010]
population.head()

    borough  year  FIPS NTA_code                     neighborhood  population
195   Bronx  2010     5     BX01               Claremont-Bathgate       31078
196   Bronx  2010     5     BX03  Eastchester-Edenwald-Baychester       34517
197   Bronx  2010     5     BX05       Bedford Park-Fordham North       54415
198   Bronx  2010     5     BX06                          Belmont       27378
199   Bronx  2010     5     BX07                        Bronxdale       35538

In [557]:
nyc_df = pd.read_csv('nyc_geo_data_cleaned.csv')
nyc_df

     Unnamed: 0        borough  neighborhood  longitude   latitude
0             0          Bronx     Wakefield -73.847201  40.894705
1             1          Bronx    Co-op City -73.829939  40.874294
2             2          Bronx   Eastchester -73.827806  40.887556
3             3          Bronx     Fieldston -73.905643  40.895437
4             4          Bronx     Riverdale -73.912585  40.890834
..          ...            ...           ...        ...        ...
301         301      Manhattan  Hudson Yards -74.000111  40.756658
302         302         Queens       Hammels -73.805530  40.587338
303         303         Queens     Bayswater -73.765968  40.611322
304         304         Queens  Queensbridge -73.945631  40.756091
305         305  Staten Island     Fox Hills -74.081740  40.617311

[306 rows x 5 columns]

In [558]:
population = population[['neighborhood', 'population']]
population.head()

                        neighborhood  population
195               Claremont-Bathgate       31078
196  Eastchester-Edenwald-Baychester       34517
197       Bedford Park-Fordham North       54415
198                          Belmont       27378
199                        Bronxdale       35538

In [559]:
population.replace(to_replace='Co-Op City', value = 'Co-op City', inplace=True )

In [560]:
df = pd.merge(nyc_df, population, how='left', on='neighborhood')
df = df[['borough', 'neighborhood', 'longitude', 'latitude', 'population']]
df.head()

  borough neighborhood  longitude   latitude  population
0   Bronx    Wakefield -73.847201  40.894705         NaN
1   Bronx   Co-op City -73.829939  40.874294     43752.0
2   Bronx  Eastchester -73.827806  40.887556         NaN
3   Bronx    Fieldston -73.905643  40.895437         NaN
4   Bronx    Riverdale -73.912585  40.890834         NaN

In [561]:
df.loc[[0,7],'population'] = round(population._get_value(228, 'population') / 2) # Woodlawn-Wakefield
df.loc[[2,45, 10],'population'] = round(population._get_value(196, 'population') / 3) # Eastchester-Edenwald-Baychester
df.loc[[3, 4, 36],'population'] = round(population._get_value(206, 'population') / 3) # North Riverdale-Fieldston-Riverdale
df.loc[[116,276, 301],'population'] = round(population._get_value(292, 'population') / 3) # Hudson Yards-Chelsea-Flat Iron-Union Square
df.loc[[302,177, 176],'population'] = round(population._get_value(322, 'population') / 3) # Hammels-Arverne-Edgemere
df.loc[[170,303],'population'] = round(population._get_value(323, 'population') / 2) # Far Rockaway-Bayswater
df.loc[[304,186, 139],'population'] = round(population._get_value(364, 'population') / 3) # Queensbridge-Ravenswood-Long Island City
df.loc[[202,253, 305],'population'] = round(population._get_value(374, 'population') / 2) # Grymes Hill-Clifton-Fox Hills
df.loc[[6,102],'population'] = round(population._get_value(284, 'population') / 2) # Marble Hill-Inwood
df.loc[[37, 29,12],'population'] = round(population._get_value(202, 'population') / 3) # Pelham Bay-Country Club-City Island
df.loc[[14, 15],'population'] = round(population._get_value(216, 'population') / 2) # University Heights-Morris Heights
df.loc[[18],'population'] = round(population._get_value(200, 'population') / 2) # West Farms
df.loc[[19],'population'] = round(population._get_value(207, 'population')) # Highbridge
df.loc[[38, 28, 39],'population'] = round(population._get_value(225, 'population') / 3) # Schuylerville-Throgs Neck-Edgewater Park
df.loc[[31, 32, 33],'population'] = round(population._get_value(217, 'population') / 3) # Van Nest-Morris Park-Westchester Square
df.loc[[5, 35],'population'] = round(population._get_value(210, 'population') / 2) # Spuyten Duyvil-Kingsbridge
df.loc[[41, 9],'population'] = round(population._get_value(222, 'population') / 2) # Williamsbridge-Olinville

In [562]:
df.loc[[13],'population'] = round(population._get_value(197, 'population') * 0.6) # Bedford Park
df.loc[[16],'population'] = round(population._get_value(197, 'population') * 0.4 + population._get_value(219, 'population')) # Fordham (North and South)

df.loc[[22],'population'] = round(population._get_value(218, 'population') * 0.08) # Port Morris
df.loc[[25],'population'] = round(population._get_value(215, 'population') / 2) # Morrisania
df.loc[[21],'population'] = round(population._get_value(218, 'population') * 0.92 + population._get_value(214, 'population') / 2) # Mott Haven
df.loc[[20],'population'] = round(population._get_value(215, 'population') / 2 + population._get_value(214, 'population') / 2) # Melrose

df.loc[[27],'population'] = round(population._get_value(281, 'population') * 0.2 ) # Clason Point
df.loc[[40],'population'] = round(population._get_value(281, 'population') * 0.75) # Castle Hill
df.loc[[26],'population'] = round(population._get_value(226, 'population') + population._get_value(281, 'population') * 0.005) # Soundview

In [563]:
df.loc[[298,42],'population'] = round(population._get_value(228, 'population') / 2) # Allerton-Pelham Gardens
df.loc[[44],'population'] = round(population._get_value(227, 'population')) # Unionport
df.loc[[52, 77, 82],'population'] = round(population._get_value(234, 'population') / 3) # Sheepshead Bay-Gerritsen Beach-Manhattn Bch
df.loc[[56],'population'] = round(population._get_value(228, 'population')) # East Flatbush-Farragut
df.loc[[57],'population'] = round(population._get_value(252, 'population') / 2) # Kensington-Ocean Parkway
df.loc[[63],'population'] = round(population._get_value(228, 'population')) # Bedford
df.loc[[64,65],'population'] = round(population._get_value(233, 'population') / 2) # Brooklyn Heights-Cobble Hill
df.loc[[66, 67],'population'] = round(population._get_value(246, 'population') / 2) # Carroll Gardens-Columbia Street-Red Hook
df.loc[[68,70],'population'] = round(population._get_value(249, 'population') / 2) # Park Slope-Gowanus
df.loc[[71,90],'population'] = round(population._get_value(275, 'population') / 2) # Cypress Hills-City Line
df.loc[[78,85],'population'] = round(population._get_value(236, 'population') / 2) # Seagate-Coney Island
df.loc[[83, 91, 94, 262],'population'] = round(population._get_value(256, 'population') / 4) # Georgetown-Marine Park-Bergen Beach-Mill Basin
df.loc[[86, 87, 280, 283],'population'] = round(population._get_value(250, 'population') / 4) # DUMBO-Vinegar Hill-Downtown Brklyn-Boerum Hill
df.loc[[88, 222],'population'] = round(population._get_value(228, 'population') / 2) # Prospect Lefferts Gardens-Wingate
df.loc[[96, 97],'population'] = round(population._get_value(228, 'population') / 2) # North Side-South Side
df.loc[[109, 110],'population'] = round(population._get_value(305, 'population') / 2) # Lenox Hill-Roosevelt Island
df.loc[[122, 120,121, 249],'population'] = round(population._get_value(301, 'population') / 4) # SoHo-TriBeCa-Civic Center-Little Italy
df.loc[[127],'population'] = round(population._get_value(228, 'population')) # Battery Park City-Lower Manhattan
df.loc[[133, 187],'population'] = round(population._get_value(359, 'population') / 2) # Lindenwood-Howard Beach
df.loc[[153, 154],'population'] = round(population._get_value(347, 'population') / 2) # Douglas Manor-Douglaston-Little Neck
df.loc[[151],'population'] = round(population._get_value(228, 'population')) # Bayside-Bayside Hills
df.loc[[155, 181],'population'] = round(population._get_value(346, 'population') / 2) # Glen Oaks-Floral Park-New Hyde Park
df.loc[[158, 264],'population'] = round(population._get_value(343, 'population') / 2) # Fresh Meadows-Utopia
df.loc[[159, 263],'population'] = round(population._get_value(340, 'population') / 2) # Briarwood-Jamaica Hills
df.loc[[107, 247],'population'] = round(population._get_value(311, 'population') / 2) # Upper East Side-Carnegie Hill

In [564]:
df.loc[[268],'population'] = round(population._get_value(204, 'population') / 2) # Concourse Village
df.loc[[43],'population'] = round(population._get_value(204, 'population') / 2 + population._get_value(229, 'population')) # Concourse (East and West)
df.loc[[47],'population'] = round(population._get_value(241, 'population') + population._get_value(242, 'population')) # Bensonhurst (East and West)
df.loc[[48],'population'] = round(population._get_value(245, 'population') + population._get_value(247, 'population')) # Sunset Park (East and West)
df.loc[[53],'population'] = 45000 # Manhatten Terrace
df.loc[[55],'population'] = round(population._get_value(261, 'population') + population._get_value(262, 'population')) # Crown Heights (North and South)
df.loc[[62],'population'] = round(population._get_value(270, 'population') + population._get_value(271, 'population')) # Crown Heights (North and South)
df.loc[[76],'population'] = 13000 # Mill Island
df.loc[[93],'population'] = 2500 # Prospect Park South
df.loc[[98],'population'] = round(population._get_value(257, 'population') + population._get_value(252, 'population') / 2) # Ocean Parkway
df.loc[[99],'population'] = 3000 # Fort Hamilton
df.loc[[101],'population'] = round(population._get_value(309, 'population') + population._get_value(310, 'population')) # Washington Heights (North and South)
df.loc[[105],'population'] = round(population._get_value(285, 'population') + population._get_value(290, 'population')) # Central Harlem (North and South)
df.loc[[106],'population'] = round(population._get_value(307, 'population') + population._get_value(308, 'population')) # East Harlem (North and South)
df.loc[[250],'population'] = round(population._get_value(295, 'population') / 2) # Midtown South
df.loc[[273],'population'] = round(population._get_value(296, 'population') / 2) # Turle Bay
df.loc[[114],'population'] = round(population._get_value(295, 'population') / 2 + population._get_value(296, 'population') / 2) # Midtown
df.loc[[117],'population'] = 23000 # Greenwich Village
df.loc[[124],'population'] = 23000 # Manhattan Valley
df.loc[[128],'population'] = 54000 # Financial District
df.loc[[272, 140],'population'] = round(population._get_value(296, 'population') / 3) # Hunters Point-Sunnyside
df.loc[[142],'population'] = round(population._get_value(336, 'population') + population._get_value(352, 'population') / 2 + population._get_value(296, 'population') / 3) # Maspeth
df.loc[[132],'population'] = round(population._get_value(335, 'population') + population._get_value(352, 'population') / 2) # Elmhurst

In [565]:
df.loc[[160],'population'] = round(population._get_value(287, 'population')) # Jamaica Center
df.loc[[171, 172, 190, 191],'population'] = round(population._get_value(321, 'population') / 4) #Breezy Point-Belle Harbor-Rockwy Prk-Broad Chnl
df.loc[[175],'population'] = round(population._get_value(349, 'population') / 2) # Ft. Totten-Bay Terrace-Clearview
df.loc[[265, 185],'population'] = round(population._get_value(318, 'population') / 2) # Jamaica Estates-Holliswood
df.loc[[185, 265],'population'] = round(population._get_value(342, 'population') / 2) # Pomonok-Flushing Heights-Hillcrest
df.loc[[199, 200],'population'] = round(population._get_value(385, 'population') / 2) # Stapleton-Rosebank
df.loc[[203, 243, 255, 292],'population'] = round(population._get_value(379, 'population') / 4) # Todt Hill-Emersn Hill-Heartland Villg-Lighthse Hill
df.loc[[204, 230, 231],'population'] = round(population._get_value(384, 'population') / 3) # Old Town-Dongan Hills-South Beach
df.loc[[206, 207, 226, 227],'population'] = round(population._get_value(376, 'population') / 4) # Mariner's Harbor-Arlington-Port Ivory-Graniteville
df.loc[[209, 210, 245],'population'] = round(population._get_value(372, 'population') / 3) # New Springville-Bloomfield-Travis
df.loc[[211, 232],'population'] = round(population._get_value(386, 'population') / 2) # New Dorp-Midland Beach
df.loc[[212],'population'] = round(population._get_value(380, 'population')) # Oakwood
df.loc[[214, 215, 236, 291],'population'] = round(population._get_value(371, 'population') / 4) # Annadale-Huguenot-Prince's Bay-Eltingville
df.loc[[216, 240],'population'] = round(population._get_value(382, 'population') / 2) # Rossville-Woodrow
df.loc[[217, 239, 293],'population'] = round(population._get_value(375, 'population') / 3) # Charleston-Richmond Valley-Tottenville
df.loc[[223, 259],'population'] = round(population._get_value(282, 'population') / 2) # Rugby-Remsen Village
df.loc[[228, 229],'population'] = round(population._get_value(377, 'population') / 2) # Grasmere-Arrochar-Ft. Wadsworth
df.loc[[266],'population'] = round(population._get_value(366, 'population') / 2) # Astoria Heights
df.loc[[275],'population'] = round(population._get_value(312, 'population') / 2) # Stuyvesant Town-Cooper Village
df.loc[[260],'population'] = round(population._get_value(274, 'population')) # New Lots
df.loc[[267],'population'] = round(population._get_value(195, 'population')) # Claremont Village
df.loc[[182, 183],'population'] = round(population._get_value(318, 'population') / 2) # Jamaica Estates-Holliswood

In [577]:
df.loc[[166],'population'] = 25000 # Rochdale
df.loc[[174],'population'] = 15000 # Beechhurst
df.loc[[178],'population'] = 13000 # Rockaway Beach
df.loc[[179],'population'] = 5000 # Neponsit
df.loc[[189],'population'] = 65000 # Lefrak City
df.loc[[192],'population'] = 15000 # Somerville
df.loc[[194],'population'] = 22000 # Bellaire
df.loc[[196],'population'] = 5000 # Forest Hills Gardens
df.loc[[208],'population'] = 500 # Castleton Corners
df.loc[[218],'population'] = 15000 # Tompkinsville
df.loc[[220],'population'] = 12000 # Sunnyside Satin Island
df.loc[[221],'population'] = 25000 # Ditmas Park
df.loc[[224],'population'] = 10000 # Park Hill
df.loc[[233],'population'] = 10000 # Grant City
df.loc[[234],'population'] = 5000 # New Dorp Beach
df.loc[[237],'population'] = 5500 # Pleasant Plains
df.loc[[238],'population'] = 1000 # Butler Manor
df.loc[[244],'population'] = 3000 # Clelsea Staten Island
df.loc[[246],'population'] = 17000 # Bulls Head
df.loc[[248],'population'] = 5000 # Noho
df.loc[[251],'population'] = 4000 # Richmond Town
df.loc[[252],'population'] = 1000 # Shore Acres
df.loc[[254],'population'] = 8494 # Concord
df.loc[[255],'population'] = 11000 # Emerson Hill
df.loc[[256],'population'] = 7000 # Randall Manor
df.loc[[257],'population'] = 2000 # Howland Hook
df.loc[[258],'population'] = 17000 # Elm Park
df.loc[[259],'population'] = 500 # Remsen Village
df.loc[[261],'population'] = 15000 # Paerdegat Basin
df.loc[[269],'population'] = 13000 # Mount Eden
df.loc[[271],'population'] = 18000 # Sutton Place
df.loc[[274],'population'] = 16000 # Tudor City
df.loc[[278],'population'] = 900 # Blissville
df.loc[[279],'population'] = 1042 # Fulton Ferry
df.loc[[281],'population'] = 35000 # Weeksville
df.loc[[282],'population'] = 300 # Broadway Junction
df.loc[[284],'population'] = 3000 # Manor Heights
df.loc[[285],'population'] = 3000 # Willowbrook
df.loc[[286],'population'] = 50 # Sandy Ground
df.loc[[287],'population'] = 1000 # Egbertville
df.loc[[288],'population'] = 2200 # Roxbury
df.loc[[293],'population'] = 4000 # Richmond Valley
df.loc[[294],'population'] = 15000 # Malba
df.loc[[295],'population'] = 20000 # Highland Park
df.loc[[242],'population'] = 1000 # Greenridge
df.loc[[221],'population'] = 8000 # Ditmas Park
df.loc[[277],'population'] = 4000 # Sunnyside Gardens
df.loc[[235],'population'] = 7000 # Bay Terrace Staten Island

df.loc[[167],'population'] = round(population._get_value(315, 'population') + population._get_value(316, 'population') / 2) # Springfield Garden (North and South)
df.loc[[193],'population'] = round(population._get_value(316, 'population') / 2) # Brookville
df.loc[[138],'population'] = round(population._get_value(329, 'population') + population._get_value(354, 'population')) # Flushing
df.loc[[201],'population'] = round(population._get_value(237, 'population') + population._get_value(378, 'population') / 3) # West New Brighton
df.loc[[198],'population'] = round(population._get_value(383, 'population') / 2 + population._get_value(378, 'population') / 3) # New Brighton
df.loc[[197],'population'] = round(population._get_value(378, 'population') / 3) # St.George
df.loc[[219],'population'] = round(population._get_value(383, 'population') / 2) # Silver Lake

In [578]:
print(df.neighborhood[df.neighborhood == 'Todt Hill'].index.tolist())
print(df.neighborhood[df.neighborhood == 'Emerson Hill'].index.tolist())
print(df.neighborhood[df.neighborhood == 'Holliswood'].index.tolist())
print(df.neighborhood[df.neighborhood == "Jamaica Estates"].index.tolist())
print(population.neighborhood[population.neighborhood == "Jamaica Estates-Holliswood"].index.tolist())

[203]
[255]
[182]
[183]
[318]

In [579]:
df[200:250]

           borough       neighborhood  longitude   latitude  population
200  Staten Island           Rosebank -74.069805  40.615305     13226.0
201  Staten Island      West Brighton -74.107182  40.631879     28934.0
202  Staten Island        Grymes Hill -74.087248  40.624185     11230.0
203  Staten Island          Todt Hill -74.111329  40.597069      7678.0
204  Staten Island        South Beach -74.079553  40.580247      8278.0
205  Staten Island      Port Richmond -74.129434  40.633669     20191.0
206  Staten Island   Mariner's Harbor -74.150085  40.632546      7868.0
207  Staten Island         Port Ivory -74.174645  40.639683      7868.0
208  Staten Island  Castleton Corners -74.119181  40.613336       500.0
209  Staten Island    New Springville -74.164960  40.594252     13199.0
210  Staten Island             Travis -74.190737  40.586314     13199.0
211  Staten Island           New Dorp -74.116479  40.572572     10948.0
212  Staten Island            Oakwood -74.121566  40.558462     22049.0
213  Staten Island        Great Kills -74.149324  40.549480     40720.0
214  Staten Island        Eltingville -74.164331  40.542231      6942.0
215  Staten Island           Annadale -74.178549  40.538114      6942.0
216  Staten Island            Woodrow -74.205246  40.541968     10382.0
217  Staten Island        Tottenville -74.246569  40.505334      7771.0
218  Staten Island      Tompkinsville -74.080554  40.637316     15000.0
219  Staten Island        Silver Lake -74.096290  40.619193      8762.0
220  Staten Island          Sunnyside -74.097126  40.612760     12000.0
221       Brooklyn        Ditmas Park -73.961013  40.643675      8000.0
222       Brooklyn            Wingate -73.937187  40.660947     21242.0
223       Brooklyn              Rugby -73.926882  40.655572     27663.0
224  Staten Island          Park Hill -74.080157  40.609190     10000.0
225  Staten Island        Westerleigh -74.133041  40.621090     24102.0
226  Staten Island       Graniteville -74.153152  40.620172      7868.0
227  Staten Island          Arlington -74.165104  40.635325      7868.0
228  Staten Island           Arrochar -74.067124  40.596313      8040.0
229  Staten Island           Grasmere -74.076674  40.598268      8040.0
230  Staten Island           Old Town -74.087511  40.596329      8278.0
231  Staten Island       Dongan Hills -74.096399  40.588673      8278.0
232  Staten Island      Midland Beach -74.093483  40.573527     10948.0
233  Staten Island         Grant City -74.105856  40.576216     10000.0
234  Staten Island     New Dorp Beach -74.104327  40.564255      5000.0
235  Staten Island        Bay Terrace -74.139166  40.553988      7000.0
236  Staten Island           Huguenot -74.191741  40.531912      6942.0
237  Staten Island    Pleasant Plains -74.219831  40.524699      5500.0
238  Staten Island       Butler Manor -74.229504  40.506082      1000.0
239  Staten Island         Charleston -74.232158  40.530531      7771.0
240  Staten Island          Rossville -74.215729  40.549404     10382.0
241  Staten Island      Arden Heights -74.185887  40.549286     25238.0
242  Staten Island         Greenridge -74.170794  40.555295      1000.0
243  Staten Island  Heartland Village -74.159022  40.589139      7678.0
244  Staten Island            Chelsea -74.189560  40.594726      3000.0
245  Staten Island         Bloomfield -74.187256  40.605779     13199.0
246  Staten Island         Bulls Head -74.159409  40.609592     17000.0
247      Manhattan      Carnegie Hill -73.953256  40.782683     30604.0
248      Manhattan               Noho -73.988434  40.723259      5000.0
249      Manhattan       Civic Center -74.005415  40.715229     10686.0

In [580]:
# Check for missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

              Total  Percent
borough           0      0.0
neighborhood      0      0.0
longitude         0      0.0
latitude          0      0.0
population        0      0.0