In [2]:
import pandas as pd
import numpy as np

In [7]:
# grab data
dbscan_v1 = pd.read_csv('../../data/clustering_data/dbscan_clusters.csv', index_col=0).drop('borough', axis=1)
dbscan_v2 = pd.read_csv('../../data/clustering_data/dbscan_v2_clusters.csv', index_col=0).drop('borough', axis=1)
dbscan_v3 = pd.read_csv('../../data/clustering_data/dbscan_v3_clusters.csv', index_col=0).drop('borough', axis=1)

k_means = pd.read_csv('../../data/clustering_data/dbscan_v3_clusters.csv', index_col=0)
k_means = pd.concat([k_means, dbscan_v3['population']], axis=1)

costs = pd.read_csv('../../data/evaluation_data/cluster_housing_costs.csv', index_col=0)

In [ ]:
### We lost our evaluation notebook during a git misshap, this is a messy summary of what we used to compare models

In [8]:
k_means

,borough,neighborhood,longitude,latitude,population,PC1,PC2,PC3,PC4,PC5,cluster,population
0,Bronx,Wakefield,-73.847201,40.894705,21242.0,-0.299939,0.806300,-0.274681,-0.278856,0.470470,-1,21242.0
1,Bronx,Co-op City,-73.829939,40.874294,43752.0,-0.518157,0.534939,-0.132881,0.076055,0.229458,0,43752.0
2,Bronx,Eastchester,-73.827806,40.887556,11506.0,-0.538953,0.445996,-0.109848,-0.220285,0.161621,0,11506.0
3,Bronx,Fieldston,-73.905643,40.895437,9287.0,-0.538112,-0.179316,0.133599,-0.266408,-0.334315,0,9287.0
4,Bronx,Riverdale,-73.912585,40.890834,9287.0,-0.516148,-0.017691,0.358770,-0.114687,-0.521047,0,9287.0
...,...,...,...,...,...,...,...,...,...,...,...,...
301,Manhattan,Hudson Yards,-74.000111,40.756658,23383.0,1.916515,-0.732110,-0.089891,-0.048235,-0.155765,4,23383.0
302,Queens,Hammels,-73.805530,40.587338,12295.0,-0.552061,-0.352613,-0.136091,-0.256063,-0.092412,0,12295.0
303,Queens,Bayswater,-73.765968,40.611322,25029.0,-0.866517,-0.302152,-0.561784,0.132420,0.002640,0,25029.0
304,Queens,Queensbridge,-73.945631,40.756091,6677.0,0.245570,0.018321,0.171835,-0.433437,0.075521,2,6677.0
305,Staten Island,Fox Hills,-74.081740,40.617311,11230.0,-0.664190,-0.014266,-0.238167,0.107134,0.329229,0,11230.0

In [15]:
# add economic data
dbscan_v1 = pd.concat([dbscan_v1, costs['average_costs']], axis=1)
dbscan_v2 = pd.concat([dbscan_v2, costs['average_costs']], axis=1)
dbscan_v3 = pd.concat([dbscan_v3, costs['average_costs']], axis=1)

In [16]:
print(dbscan_v1.groupby('cluster').count())
dbscan_v1.groupby('cluster').mean()

,longitude,latitude,population,PC1,PC2,PC3,average_costs
cluster,,,,,,,
-1,-73.933282,40.713757,37460.771429,5.585362,1.399156,2.458785,3303.514286
0,-73.946909,40.690106,23071.159624,-2.620104,0.201026,-0.241958,1973.098592
1,-73.887873,40.736051,27673.142857,0.412254,-6.145061,3.661836,1812.428571
2,-73.961644,40.733170,34109.227273,7.928630,-0.832916,-2.531712,4108.090909
3,-73.943017,40.739436,50038.933333,4.234434,-3.708215,0.434561,2478.333333
4,-74.000728,40.680500,44901.500000,6.083624,-1.190385,0.819004,4172.000000
5,-73.991163,40.752552,50666.666667,10.644198,3.605937,-2.017236,5882.833333
6,-73.932708,40.757945,29707.250000,8.390640,2.074956,-0.536672,5156.250000

In [17]:
print(dbscan_v2.groupby('cluster').count())
dbscan_v2.groupby('cluster').mean()

,longitude,latitude,population,PC1,PC2,PC3,PC4,PC5,average_costs
cluster,,,,,,,,,
-1,-73.900612,40.724131,40241.522388,0.408693,0.299501,0.018695,-0.052399,0.137871,2306.895522
0,-73.964142,40.670669,20398.012500,-0.717822,-0.118199,0.060372,0.015804,0.015084,1929.018750
1,-73.893539,40.823177,37821.045455,0.316899,0.964776,-0.440367,0.278541,-0.539430,1765.727273
2,-73.970194,40.684062,38889.454545,0.742695,0.319135,-0.015282,-0.118482,0.046258,3160.181818
3,-73.979485,40.717591,32456.235294,1.355165,-0.513505,0.014437,-0.495856,-0.008149,4574.705882
4,-73.984485,40.741557,26800.478261,2.033330,-0.668409,-0.213613,0.264824,0.065184,5239.956522
5,-73.887611,40.650597,22423.333333,0.420549,-0.297892,0.601971,-0.250637,-0.275470,2273.500000

In [20]:
print(dbscan_v3.groupby('cluster').count())
dbscan_v3.groupby('cluster').mean()

         neighborhood  longitude  latitude  population  PC1  PC2  PC3  PC4  \
cluster
-1                 66         66        66          66   66   66   66   66
 0                157        157       157         157  157  157  157  157
 1                 24         24        24          24   24   24   24   24
 2                 19         19        19          19   19   19   19   19
 3                 17         17        17          17   17   17   17   17
 4                 23         23        23          23   23   23   23   23

         PC5  average_costs
cluster
-1        66             66
 0       157            157
 1        24             24
 2        19             19
 3        17             17
 4        23             23

,longitude,latitude,population,PC1,PC2,PC3,PC4,PC5,average_costs
cluster,,,,,,,,,
-1,-73.907933,40.733989,38946.333333,0.407050,0.361861,0.015561,-0.031301,0.174775,2260.651515
0,-73.963345,40.664975,20952.936306,-0.735206,-0.144736,0.060864,0.026564,0.007921,1929.566879
1,-73.887362,40.814509,35700.541667,0.329724,0.986978,-0.428681,0.134749,-0.601398,1781.708333
2,-73.936521,40.682601,33545.736842,0.583261,0.012240,0.236132,-0.171715,0.006154,2923.578947
3,-73.979485,40.717591,32456.235294,1.348472,-0.535713,0.011028,-0.482601,0.117199,4574.705882
4,-73.984485,40.741557,26800.478261,2.027945,-0.694443,-0.216017,0.266441,-0.019765,5239.956522

In [10]:
print(k_means.groupby('cluster').count())
k_means.groupby('cluster').mean()

         borough  neighborhood  longitude  latitude  population  PC1  PC2  \
cluster
-1            66            66         66        66          66   66   66
 0           157           157        157       157         157  157  157
 1            24            24         24        24          24   24   24
 2            19            19         19        19          19   19   19
 3            17            17         17        17          17   17   17
 4            23            23         23        23          23   23   23

         PC3  PC4  PC5  population
cluster
-1        66   66   66          66
 0       157  157  157         157
 1        24   24   24          24
 2        19   19   19          19
 3        17   17   17          17
 4        23   23   23          23

,longitude,latitude,population,PC1,PC2,PC3,PC4,PC5,population
cluster,,,,,,,,,
-1,-73.907933,40.733989,38946.333333,0.407050,0.361861,0.015561,-0.031301,0.174775,38946.333333
0,-73.963345,40.664975,20952.936306,-0.735206,-0.144736,0.060864,0.026564,0.007921,20952.936306
1,-73.887362,40.814509,35700.541667,0.329724,0.986978,-0.428681,0.134749,-0.601398,35700.541667
2,-73.936521,40.682601,33545.736842,0.583261,0.012240,0.236132,-0.171715,0.006154,33545.736842
3,-73.979485,40.717591,32456.235294,1.348472,-0.535713,0.011028,-0.482601,0.117199,32456.235294
4,-73.984485,40.741557,26800.478261,2.027945,-0.694443,-0.216017,0.266441,-0.019765,26800.478261